.button-default{
	-fx-background-color: #5D6971; 
	-fx-font: bold 18px "Arial";
	-fx-border-width: 0;
	-fx-background-radius: 10px;
    -fx-text-fill: white;
	-fx-wrap-text: true;
    -fx-text-alignment: center;
}
.button-default:hover{
	-fx-background-color: #405060;
	-fx-cursor: hand;
}
.button-menu{
	-fx-background-color: #FFFFFF; 
	-fx-font: bold 18px "Arial";
	-fx-border-width: 0;
	-fx-background-radius: 10px;
    -fx-text-fill: black;
    -fx-min-width: 150px;
}
.button-menu:hover{
	-fx-background-color: #E0E0E0;
	-fx-cursor: hand;
}
.menu{
	-fx-background-color: #C00000;
	-fx-border-color: #C00000;
    -fx-border-width: 0;
}
.label_h3, .label_h1, .label_view{
	-fx-background-color: transparent;
	-fx-font: bold 12px "Arial";
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.label_h1{
	-fx-font-size: 30px;
}
.label_h3{
	-fx-font-size: 12px;
}
.label_view{
	-fx-background-color:  #5D6971;
	-fx-background-radius:  15;
	-fx-font-size: 16px;
	-fx-wrap-text: true;
    -fx-text-alignment: center;
}
.green-bar  { -fx-accent: green;  }
.orange-bar    { -fx-accent: orange;    }
.red-bar    { -fx-accent: red;    }
.img {
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position:center;
}